<% additional_content = @additional[data.additional_content_id]["menu"] %>
<% row_lg = case additional_content 
        when "gallery", "school" then "6"
        when "feedback" then "3" 
        end %>
<% row_md = case additional_content 
        when "gallery", "school" then "4"
        when "feedback" then "1"
        end %>
<div class="d-flex row row-cols-md-<%= row_md %> row-cols-lg-<%= row_lg %> g-4 mb-3">
    <% additional = additional_content == "gallery" ? AdditionalContent.where(menu: "gallery", gallery_id: data.additional_content_id, status: "active") : AdditionalContent.where(menu: additional_content, status: "active") %>
    <% additional.each do |add| %>
        <div class="col-auto align-content-center">
            <% if add.image.attached? %>
                <% if add.url.blank? %>
                    <div class="grid-picture text-center">
                        <img id="image-content-<%= add.id %>" src="<%= url_for(add.image) %>" alt="" class="mb-3 additional-image-<%= add.menu %>" style="object-fit: contain"/>
                        <h5 class="text-center additional-title-<%= add.menu %>"><%= add.title %></h5>
                    </div>
                <% else %>
                    <%= link_to add.url, class: "nav-link text-center grid-picture", target: "_blank" do %>
                        <img id="image-content-<%= add.id %>" src="<%= url_for(add.image) %>" alt="" class="mb-3 additional-image-<%= add.menu %>" style="object-fit: contain"/>
                        <h5 class="text-center additional-title-<%= add.menu %>"><%= add.title %></h5>
                    <% end %>
                <% end %>
            <% end %>

            <% if add.html_content.present? %>
                <div class="w-100 div-html-feedback"><%= add.html_content.html_safe %></div>
            <% end %>
        </div>
    <% end %>
</div>