<div class="d-block">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary me-3" data-bs-toggle="modal" data-bs-target="#addCover" style="float: right" data-action="click->content#clearCover">+ Add cover</button>

    <div class="table-responsive w-100 m-auto my-3 p-3">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th width="30%">Cover image</th>
                    <th width="20%">Cover title</th>
                    <th width="20%">Category</th>
                    <th class="text-center" width="15%">Status</th>
                    <th class="text-center" width="15%">Action</th>
                </tr>
            </thead>
            <tbody>
                <% if @content.blank? %>
                    <tr>
                        <td colspan="5" class="text-center">No category available</td>
                    </tr>
                <% else %>
                    <% @content.each do |c| %>
                    <tr>
                        <td class="align-content-center">
                            <% source = c.image.attached? ? url_for(c.image) : "" %>
                            <div class="div-image-table" style="width: 300px; overflow: hidden">
                                <img id="image-content-table" class="w-100" src="<%= source %>"/>
                            </div>
                        </td>
                        <td class="align-content-center">
                            <%= c.title_content %>
                        </td>
                        <td class="align-content-center">
                            <%= c.category_name %>
                        </td>
                        <td class="text-center align-content-center">
                            <span class="badge rounded-pill status-<%= c.status %>"><%= c.status.capitalize %></span>
                        </td>
                        <td class="text-center align-content-center">
                            <div class="d-inline mx-2">
                                <%= link_to "#{content_url()}/#{c.menu.downcase}/#{c.id}", class: "nav-link d-inline me-2" do %>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-journal-plus" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5"/>
                                        <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
                                        <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
                                    </svg>
                                <% end %>
                            </div>
                            <div class="d-inline mx-2">
                                <button type="button" class="btn btn-primary d-none" id="edit-cover-btn" data-bs-toggle="modal" data-bs-target="#addCover">Update cover</button>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-fill icon" viewBox="0 0 16 16" data-action="click->content#editCover" data-content-url-param="<%= get_cover_path(id: c.id, menu: params["menu"]) %>">
                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                                </svg>
                            </div>
                            <div class="d-inline mx-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash-fill icon" viewBox="0 0 16 16" data-action="click->content#confirmDeleteDialog" data-content-url-param="<%= content_path(menu: params["menu"], content_name: "cover") %>" data-content-id-param="<%= c.id %>" data-content-content-name-param="content" data-bs-toggle="modal" data-bs-target="#confirmDeleteDialog">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                </svg>
                            </div>
                        </td>
                    </tr>
                    <% end %>
                <% end %>
            </tbody>
        </table>
    </div>
</div>


<div class="add-cover-dialog">
    <%= render partial: "content/add_cover", locals: {menu: params[:menu], selected_tab: ""} %>
</div>